:root {
  --background-color: #f6f6f6;
  --background-color-hover: #aaa; // Темный фон
  --background-color-feature: #f9f9f9;
  --background-color-btn: #007bff;
  --background-color-btn-hover: #0069d9;
  --background-color-btn-remove: #ff4d4d;
  --background-color-btn-remove-hover: #e60000;
  --background-color-btn-offer: #07ad2b;
  --background-color-btn-offer-hover: #04831f;
  --border-color: #ccc;
  --color-text: #333;
  --color-text-hover: #696969;
  --background-color-cart: #f9f9f9;
  --original-price-color: #b0b0b0;
  --discounted-price-color: #ff5722;
  --background-color-price: #fff3e0;
  --price-color: #666;
}

.dark {
  --background-color: #121212; // Темный фон
  --background-color-hover: #868686;
  --background-color-feature: #1e1e1e; // Темный фон для функций
  --background-color-btn: #007bff; // Можно оставить прежним или сделать темнее
  --background-color-btn-hover: #0069d9; // Можно оставить прежним или сделать темнее
  --background-color-btn-remove: #ff4d4d; // Можно оставить прежним
  --background-color-btn-remove-hover: #e60000; // Можно оставить прежним
  --background-color-btn-offer: #07ad2b; // Можно оставить прежним
  --background-color-btn-offer-hover: #04831f; // Можно оставить прежним
  --border-color: #444; // Темный цвет границы
  --color-text: #e0e0e0; // Светлый текст
  --color-text-hover: #e0e0e0; // Светлый текст
  --background-color-cart: #1e1e1e; // Темный фон для корзины
  --original-price-color: #a0a0a0; // Светлый цвет для оригинальной цены
  --discounted-price-color: #ff5722; // Можно оставить прежним
  --background-color-prices: #3c3c3c; // Темный фон для цен
  --price-color: #b1b1b1;
}
