$backgroundColor: #f6f6f6;
$backgroundColorFeature: #f9f9f9;
$backgroundColorBtn: #007bff;
$backgroundColorBtnHover: #0069d9;
$backgroundColorBtnRemove: #ff4d4d;
$backgroundColorBtnRemoveHover: #e60000;
$backgroundColorBtnOffer: #07ad2b;
$backgroundColorBtnOfferHover: #04831f;
$borderColor: #ccc;
$colorText: #333;
$cartBackgroundColor: #f9f9f9;
$originalPriceColor: #b0b0b0;
$discountedPriceColor: #ff5722;
$priceBackgroundColor: #fff3e0;
